Repository ADOdb/ADOdb, pull requests merged in 2021-08, with the labels that each got.

#725 Refactor ADODB_mssqlnative::_fetchField()
  drivers/adodb-mssqlnative.inc.php
Labels: code cleanup, mssqlnative

#749 Fix typo in toexport.inc.php leading to a syntax error
  toexport.inc.php
Labels: bug

#753 perf: fix invalid SQL statement
  perf/perf-postgres.inc.php
Labels: bug, pgsql, perf
