Repository ADOdb/ADOdb, pull requests merged in 2021-01, with the labels that each got.

#655 Add support for bound variable statements in MySQL
  drivers/adodb-mysqli.inc.php
Labels: enhancement

#658 PHP8 xmlschema03 for 5.21
  adodb-xmlschema03.inc.php
Labels: PHP8, xml schema

#662 fix phpdoc for extractSchema()
  adodb-xmlschema03.inc.php
Labels: code cleanup, xml schema
